menu "CPU Hotplug"

config LAZYPLUG
	bool "Conservative hotplugging for generic devices"
	default y
	help
	  This enables the conservative hotplugging, lazyplug by arter97
	  based on intelli_plug. Refer to the comments for more info.

config INTELLI_HOTPLUG
        bool "Enable intelli-plug cpu hotplug driver"
        default n
        help
          Generic Intelli-plug cpu hotplug driver for ARM SOCs

config MSM_ZEN_DECISION
        bool "Enable Zen-Decision Core-Wakeup-helper driver"
        default n
        help
          Supplementary driver for MSM based SOCs

config ALUCARD_HOTPLUG
	bool "Enable alucard-hotplug cpu hotplug driver"
	default y
	help
	  Generic Alucard-hotplug cpu hotplug driver for ARM SOCs

config ALUCARD_HOTPLUG_USE_RQ_STATS
	bool "Enable alucard-hotplug msm rq statistics using"
	default n
	help
	  Alucard-hotplug msm rq stats

config BRICKED_HOTPLUG
	bool "Enable kernel based mpdecision"
	default y
	help
	  This enables kernel based multi-core, load-based, hotplug core control.

config MSM_SLEEPER
	bool "CPU hotplug driver"
	default n
	help
	  CPU hotplug driver

config THUNDERPLUG_CONTROL
	bool "Enable plugging down/up of cores based on load per core"
	help
	  This driver hotplugs cpu cores based on per-core load

config BLU_PLUG
	bool "Enable Blu_Plug Hotplug Driver ported from various Nexus Devices"
	help
	  Blu_Plug is an updated verison of the Dynamic Hotplug created by
	  Stratos Karafotis for Mako, and updated by engstk.  Hopefully this
	  won't cause kernel panics like Dyn_Hotplug did.

config FAST_HOTPLUG
	bool "Enable Fast Hotplug"

config MAKO_HOTPLUG
	bool "Enable Mako Hotplug"

config ARM_AUTO_HOTPLUG
	bool "Auto hotplugging based on scheduler runqueue load for ARM SoCs"
	default n

config MSM_HOTPLUG
	bool "MSM hotplug driver"
	depends on HOTPLUG_CPU
	default n
	help
	  The MSM hotplug driver controls on-/offlining of additional cores based
	  on current cpu load.

config AUTOSMP
	bool "Multi-core automatic hotplug support"
	depends on SMP && HOTPLUG_CPU
	help
	  Automatically hotplugs the multiple cpu cores on and off
	  based on cpu load and suspend state

config MX_HOTPLUG
	bool "Select mx_hotplug"
	help
	  A request based hotplug driver.

config USERSPACE_HOTPLUG
	bool "Select userspace hotplug"
	help
	  A very simple, manual userspace hotplug driver.

endmenu
