CONFIG_MACH_JF_ATT=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_IRDA_MC96=y
# InsideSecure VPN Client
CONFIG_VPNCLIENT_SECURITY=y
CONFIG_CFG80211_REG_NOT_UPDATED=y
CONFIG_SEC_NET_FILTER=y
# SAMP : HOTNESS
CONFIG_SAMP_HOTNESS=y
