CONFIG_MACH_JF_EUR=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-eur.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_CFG80211_REG_NOT_UPDATED=y
CONFIG_CRYPTO_NULL=y
CONFIG_TOUCHSCREEN_ATMEL_MXTS=n

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC_NEW=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# RTCC
CONFIG_ZRAM=n
CONFIG_RUNTIME_COMPCACHE=n

# Samsung ODE
CONFIG_FORCE_DISABLE_FIPS=y

CONFIG_SEC_NET_FILTER=y

# SAMP : HOTNESS
CONFIG_SAMP_HOTNESS=y