CONFIG_MACH_JF_TMO=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-tmo.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
# InsideSecure VPN Client
CONFIG_VPNCLIENT_SECURITY=y
#Wifi Region code
CONFIG_WLAN_REGION_CODE=402
CONFIG_CFG80211_REG_NOT_UPDATED=y
