#M2 XAR variant defconfig
CONFIG_MACH_M2_VZW=y

# MIPI Clock setting
CONFIG_MIPI_CLK_500=y

# Battery charging and BMS
# CONFIG_BATTERY_MSM is not set
# CONFIG_PM8921_BMS is not set
CONFIG_PM8XXX_CCADC=y
CONFIG_PM8921_CHARGER=y
CONFIG_PM8921_SEC_CHARGER=y
CONFIG_BATTERY_MAX17040=y
CONFIG_CHARGER_SMB347=y
CONFIG_BATTERY_SEC=y
CONFIG_BATTERY_CTIA=y
CONFIG_WIRELESS_CHARGING=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_BCL=y

CONFIG_MIPI_CLK_500=y
CONFIG_SEC_PERIPHERAL_SECURE_CHK=y
CONFIG_VZW_VOLUME=y
CONFIG_CFG80211_ALLOW_RECONNECT=y

#
#SELinux Related Changes
#

CONFIG_AUDIT=y
CONFIG_AUDITSYSCALL=y
CONFIG_LSM_MMAP_MIN_ADDR=4096
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=y
CONFIG_NETWORK_SECMARK=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_DEFAULT_SECURITY=y
CONFIG_DEFAULT_SECURITY="selinux"
CONFIG_EXT4_FS_XATTR=y
CONFIG_PROC_AVC=y
