#M2 VZW variant defconfig
CONFIG_MACH_M2_VZW=y

#Mipi clock setting
CONFIG_MIPI_CLK_487=y

# Battery charging and BMS
# CONFIG_BATTERY_MSM is not set
# CONFIG_PM8921_BMS is not set
CONFIG_PM8XXX_CCADC=y
CONFIG_PM8921_CHARGER=y
CONFIG_PM8921_SEC_CHARGER=y
CONFIG_BATTERY_MAX17040=y
CONFIG_CHARGER_SMB347=y
CONFIG_BATTERY_SEC=y
CONFIG_BATTERY_CTIA=y
CONFIG_WIRELESS_CHARGING=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_BCL=y

CONFIG_MIPI_CLK_487=y
CONFIG_SEC_PERIPHERAL_SECURE_CHK=y
CONFIG_VZW_VOLUME=y
CONFIG_CFG80211_ALLOW_RECONNECT=y

#VMWARE RELATED
CONFIG_VMWARE_MVP=y

#InsideSecure VPN
CONFIG_INSIDESECURE_VPNCLIENT=y
CONFIG_SEC_THERMISTOR=y
