#m2 TMO variant defconfig
CONFIG_MACH_M2_ATT=y

# Battery charging and BMS
# CONFIG_BATTERY_MSM is not set
# CONFIG_PM8921_BMS is not set
CONFIG_PM8XXX_CCADC=y
CONFIG_PM8921_CHARGER=y
CONFIG_PM8921_SEC_CHARGER=y
CONFIG_BATTERY_MAX17040=y
CONFIG_CHARGER_SMB347=y
CONFIG_BATTERY_SEC=y
CONFIG_BATTERY_CTIA=y
CONFIG_WIRELESS_CHARGING=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_BCL=y
CONFIG_INSIDESECURE_VPNCLIENT=y
CONFIG_BRCM_CCX=y

