CONFIG_MACH_MELIUS_MTR=y
CONFIG_MSM_AVS_HW=n
CONFIG_WCNSS_CCX=y
CONFIG_SEC_PERIPHERAL_SECURE_CHK=y
CONFIG_MUIC_AUDIO_OUTPUT_CONTROL=y

# Inside Secure VPN
CONFIG_INSIDESECURE_VPNCLIENT=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC_NEW=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=n
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n
#Effective writeback
CONFIG_EXT4_EFFECTIVE_WRITEBACK=y
