#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.zip
*.orig
*.c.rej
*.h.rej
*.txt.rej
*.rej
*.S.rej
boot.img-zImage
m67xdaupdate.txt
*.o.d
*.d
*.log
*.cmd

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated
build/
mx.ramdisk/
mx.zip/
include/linux/sandman.h
kernel/power/sandman.c

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#user stuff
getmo.sh
gevzw.sh
mkattzip.sh
mkeurzip.sh
mksprzip.sh
mkusczip.sh
mkvzwzip.sh
mkzip.sh
out/
out_att/
out_eur/
out_ge/
out_spr/
out_usc/
out_vzw/
out_tmo/
Logs/
kernel/timeconst.h
pos.sh
logs/
robscript/
pos.sh
NEWSUSPEND.txt
idr-patchlist.txt
kernel/hz.bc
datetracker.txt
arch/arm/configs/tmpconfig
arch/arm/kernel/vmlinux.lds
robstuff/

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey
kernel/time/timeconst.h
kernel/time/hz.bc
patch.1
sound/soc/codecs/sound_control5.c
drivers/tty/vt/defkeymap.c
drivers/tty/vt/consolemap_deftbl.c
vmlinux
s2w1.txt
s2w2.txt
security/selinux/av_permissions.h
security/selinux/flask.h
