--- a/drivers/video/msm/Kconfig
+++ b/drivers/video/msm/Kconfig
@@ -52,6 +52,11 @@ config SEC_DEBUG_MDP
 	---help---
 	  Support for MDP debug
 
+config MDP_DEBUG_FS
+	depends on DEBUG_FS
+	bool "MDP Debug FS"
+	default n	  
+
 choice
 	prompt "MDP HW version"
 	default FB_MSM_MDP22
diff --git a/drivers/video/msm/Makefile b/drivers/video/msm/Makefile
index 3260a04..931db1a 100644
